*{
    margin: 0;
    padding: 0;
}

body, html{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

h1{
    font-size: 2em;
    margin: 0; /* Remove toda a margem */
    padding: 20px 0; /* Opcional: adiciona um espaçamento interno apenas acima/abaixo */
}

p.header{
    font-size: 1.2em;
    margin: 2dvw;
    width: 50dvw;
}

div.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}

#contatlogo{
    margin: 0;
    padding: 0;
}

#instagram{
    background-image: url('https://cdn-icons-png.flaticon.com/512/87/87390.png');
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

#github{
    background-image: url('https://cdn-icons-png.flaticon.com/512/25/25231.png');
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

#home{
    background-image: url('https://lucascosta001.github.io/meu-portifolio/imagens/favicon.ico');
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    height: 30px;
    margin-top: 2dvw;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li img {
    height: 20px;
    width: auto;
    vertical-align: middle;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: #797979;
    border-radius: 5px;
    padding: 6px;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

h2{
    text-align: center;
    margin: 2.5dvw;
}

p{
    display: block;
    text-align: center;
    margin: 3dvw;
    font-size: 1.2em;
}

.section{
    padding: 1dvw 0 3dvw 0;
}

.secelementos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.um{
    padding: 1dvw 0 3dvw 0;
    background-color: #696969c9;
}

.elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

.secelementos>div>a{
    display: flex;
    direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.secelementos>iframe{
    width: 400px;
    height: 300px;
    border: none;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1em;
    background-color: #333;
    color: white;
}

footer p{
    margin: 0;
    padding: 1dvw;
}